.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu{
  background-color: rgb(57, 78, 80);
  padding: 3em;
  display: flex;
  margin: 0;
  justify-content: center;

  

}
.menu li{
  padding:0em 1em 0 1em ;
  list-style-type: none;

}

a{
 text-decoration: none;
 color: aliceblue;
}
a:hover{
  color: rgb(38, 62, 94);
}

.bien{
font-family: 'Karla', sans-serif;
}
.contenedor{
  padding: 2em;
  color: rgb(38, 62, 94);
  font-size: 30px;
  display: flex;
    justify-content: center;
}